body{
    background: $primary-100;
    font-family: "Noto Serif TC", serif;
    line-height: 1.5;
}
img {
    max-width: 100%;
    height: auto;
}

h2{
    letter-spacing: 0.1em;
    font-weight: 900;
}