<!-- <nav class="navbar navbar-expand-lg py-0">
  <div class="container border-bottom py-lg-5 py-5">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/logo.svg" alt="" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse py-2" id="navbarSupportedContent">
      <form class="d-flex mb-7 me-lg-auto position-relative" role="search">
        <input
          class="form-control w-100 py-lg-2 px-lg-4 border-radius rounded-pill search-input"
          type="search"
          placeholder="搜尋文章"
          aria-label="Search"
        />
        <span
          class="material-symbols-outlined h2 position-absolute my-lg-1 my-0"
          style="right: 12px"
        >
          search
        </span>
      </form>

      <ul class="navbar-nav mb-7 mb-lg-0 gap-lg-4 gap-5">
        <li class="nav-item">
          <a
            class="nav-link active p-2 py-lg-1 px-lg-4"
            aria-current="page"
            href="#"
            >所有文章</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 py-lg-1 px-lg-4" href="#">訂閱方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 py-lg-1 px-lg-4" href="#">關於我們</a>
        </li>
      </ul>
      <button class="btn btn-secondary-200 py-2 px-4 py-lg-3 px-lg-5 ms-lg-4">
        登入 / 註冊
      </button>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container border-bottom py-lg-5 py-5">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/logo.svg" alt="" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbarOffcanvasLg"
      aria-controls="navbarOffcanvasLg"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end w-100"
      tabindex="-1"
      id="navbarOffcanvasLg"
      aria-labelledby="navbarOffcanvasLgLabel"
    >
      <div class="offcanvas-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <form
          class="d-flex mb-7 my-lg-auto me-lg-auto position-relative"
          role="search"
        >
          <input
            class="form-control w-100 py-lg-2 px-lg-4 border-radius rounded-pill search-input"
            type="search"
            placeholder="搜尋文章"
            aria-label="Search"
          />
          <span
            class="material-symbols-outlined h2 position-absolute my-lg-1 my-0"
            style="right: 12px"
          >
            search
          </span>
        </form>

        <ul class="navbar-nav mb-7 my-lg-auto gap-lg-4 gap-5">
          <li class="nav-item">
            <a
              class="nav-link active p-2 py-lg-3 px-lg-4"
              aria-current="page"
              href="#"
              >所有文章</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link p-2 py-lg-3 px-lg-4" href="#">訂閱方案</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-2 py-lg-3 px-lg-4" href="#">關於我們</a>
          </li>

          <li class="nav-item">
            <a
              class="btn btn-secondary-200 py-2 px-4 py-lg-3 px-lg-5 ms-lg-4 w-100"
            >
              登入 / 註冊</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
